.view-pokemon
    &--div
        background-color: $whitesmoke-color;
        padding: 30px;
        border-radius: 15px
        color: $light-black-color
    &--stats
        color: $green-color
    &--header
        border-bottom 2px solid $green-color;
    &--list
        list-style-type: square;
        li
            float: left; margin-right:40px;
    &--image
        &:hover
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            cursor pointer
