@import './config.styl';
@import './modules/home.styl';
@import './modules/pokemonViewer.styl';
.capitalize
    text-transform uppercase

body 
    font-size 18px
    font-family: "Roboto", sans-serif;
    color: $light-black-color

h1 
    color:$light-blue-color
p
    margin-bottom 8px
